h1, h2, h3, h4, h5, h6 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main-header {
  color: teal;
}

.unavailable {
  color: maroon;
}

.hidden {
  display: none;
}